<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="Environment" value="QA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--Comma delimited list-->
    <add key="SIArchiveWebsiteLogPath" value="D:\Xpo.Edi.SIWebInterface - Secure\logs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!--Comma delimited list-->
    <add key="SIArchiveWebserviceLogPath" value="D:\Xpo.Edi.SIInterfaceWebservice - Secure\logs\"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!--Comma delimited list-->
    <add key="SICleanupServiceLogPath" value="D:\Xpo.Edi.CleanupSIArchiveWebsiteLogFiles\bin\Debug\logs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

</configuration>